.input {
  border-color: black;
}

.notValidated {
  border-color: red;
}

.purchase-container {
  width: 80%;
  margin: 0 auto;
}

.purchase-title {
  font-weight: 500;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.input {
  width: 25%;
  border: 1px solid #c5c5c5;
  padding: 0.3rem;
}

.purchase-method {
  margin: 2rem 0;
  border: none;
}

.method-label {
  margin-left: 0.4rem;
}

.method {
  margin-left: 0.2rem;
}

.btn-container {
  border: 1px solid blue;
}

.btn {
  font-size: 1rem;
  background: transparent;
  border: none;
  font-weight: bold;
  background: orange;
  color: white;
  border-radius: 0.3rem;
  padding: 1rem;
  transition: all 0.2s;
}
