/* .link {
  margin-right: auto;
} */

.details-button, .add-to-cart-button {
  background-color: transparent;
  border: none;
  margin-top: 0.3rem;
}

.add-to-cart-button {
  color: black;
}
