.cart-empty-message {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.cart-btn-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid blue;
}

.cart-title {
  font-weight: normal;
}

.cart-btn {
  padding: 0.3rem;
  font-size: 1rem;
  background: transparent;
  border: none;
  font-weight: bold;
  background: orange;
  color: white;
  border-radius: 0.3rem;
  padding: 1rem;
  margin-top: 1rem;
  margin: 1rem auto;
  transition: all 0.2s;
  margin-right: 1rem;
}

.cart-page {
  width: 1000px;
  height: 80%;
  padding: 2rem;
  overflow-y: scroll;
}

.item-container {
  border: 1px solid #c5c5c5;
  border-radius: 0.4rem;
  display: flex;
  height: 10rem;
  padding: 0.3rem;
  margin-bottom: 1rem;
  justify-content: space-evenly;
}

.item-thumbnail {
  background-size: contain;
}

.info-container {
  margin: 1rem;
}

.item-name {
  max-width: 30rem;
}

.item-price {
  margin-top: 1rem;
  font-weight: bold;
}

.quantity-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.increase-item-quantity {
  background-color: green;
  margin-right: 0.5rem;
}

.quantity-btn {
  border: none;
  border-radius: 0.2rem;
  color: white;
  width: 2rem;
  height: 2rem;
  padding: 0;
  font-size: 1rem;
  text-align: center;
  padding-left: 0;
}

.decrease-item-quantity {
  background-color: red;
  margin-left: 0.5rem;
}