ul, ol {
  list-style:none;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.product-detail-page {
  display: flex;
}

.image-container {
  flex: 2;
  padding: 2rem;
}

.product-image {
  width: 80%;
  height: 80%;
}

.infos-container {
  flex: 1;
  border: 1px solid #c5c5c5;
  margin: 1rem;
  padding: 1rem;
  max-height: 800px;
  overflow: hidden;
}

.product-title {
  font-size: 1.5rem;
  font-size: Bold;
  margin-bottom: 0.5rem;
}

.product-price {
  font-weight: normal;
  margin-bottom: 3rem;
}

.add-to-cart-btn, .show-cart-btn {
  margin-top: 2rem;
}

.btn {
  padding: 0.3rem;
  font-size: 1rem;
  background: transparent;
  border: none;
  font-weight: bold;
  background: orange;
  border-radius: 0.3rem;
  padding: 1rem;
  margin-top: 1rem;
  margin: 1rem auto;
  transition: all 0.2s;
  margin-right: 1rem;
}

.show-cart-btn {
  background: cyan;
}

.btn:hover {
  text-decoration: none;
  opacity: 0.8;
}

.evaluate-container {
  margin-top: 1rem;
}

.evaluate-email, .evaluate-text {
  font-size: 1.2rem;
}

.product-evaluation-email, .product-evaluation-text {
  font-size: 1.3rem;
  padding: 0.3rem;
  width: 100%;
  margin: 0.5rem 0;
  resize: none;
}

.product-evaluation-text {
  width: 100%;
}

.product-evaluation-btn {
  background: orange;
  border-radius: 0.3rem;
  padding: 1rem;
  margin-top: 1rem;
  transition: all 0.2s;
}

.product-evaluation-btn:hover {
  text-decoration: none;
  opacity: 0.8;
}